<!-- modal new -->
<div class="">
    <div *ngIf="showModal"
        class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
        <div class="relative w-full my-6 mx-auto max-w-2xl">
            <!--content-->
            <div
                class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
                <!--header-->
                <div
                    class="flex items-start justify-between px-4 py-2 border-b border-solid border-slate-200 rounded-t">
                    <h3 class="text-xl font-semibold">
                        {{ modalTitle }}
                    </h3>
                    <button (click)="closeModal()"
                        class=" ml-auto bg-transparent border-0 text-black float-right text-xl leading-none font-bold outline-none focus:outline-none">
                        x
                    </button>
                </div>

                <!--body-->
                <div class="relative p-6 overflow-y-auto">
                    <div *ngIf="formSubmit && !formUser.valid" class="flex p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800"
                        role="alert">
                        <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="sr-only">Info</span>
                        <div>
                            <span class="font-medium">Woops!</span> 
                            Todos los campos son requeridos
                        </div>
                    </div>
                    <form [formGroup]="formUser">
                        <div class="mb-6">
                            <label for="name" class="form-label">Nombres</label>
                            <input type="text" class="form-control" formControlName="name">
                        </div>
                        <div class="mb-6">
                            <label for="lastname" class="form-label">Apellidos</label>
                            <input type="text" class="form-control" formControlName="lastname">
                        </div>
                        <div class="mb-6">
                            <label for="email" class="form-label">Correo</label>
                            <input type="email" class="form-control" formControlName="email">
                        </div>
                        <div class="mb-6">
                            <label for="gender" class="form-label">Genero</label>
                            <select class="form-control" formControlName="gender">
                                <option value="null" disabled selected>seleccione </option>
                                <option value="0">Masculino</option>
                                <option value="1">Femenino</option>
                            </select>
                        </div>
                        <div class="">
                            <label for="age" class="form-label">Edad</label>
                            <input type="number" class="form-control" formControlName="age">
                        </div>
                    </form>
                </div>
                <!--footer-->
                <div class="flex items-center justify-end px-4 py-2 border-t border-solid border-slate-200 rounded-b">
                    <!-- <button
                        class="text-white bg-gradient-to-r from-rose-400 via-rose-500 to-rose-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-rose-300 dark:focus:ring-rose-800 shadow-lg shadow-rose-500/50 dark:shadow-lg dark:shadow-rose-800/80 font-medium rounded-lg text-sm px-5 py-2 text-center mr-2 mb-2 uppercase"
                        type="button" (click)="toggleNewModal()">
                        cerrar
                    </button> -->
                    <button
                        class="flex text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2 text-center mr-2 mb-2 disabled:cursor-not-allowed disabled:opacity-80 uppercase"
                        type="button" (click)="createOrUpdate()"
                        [disabled]="loading">
                        <div *ngIf="loading" role="status">
                            <svg class="inline mr-2 w-5 h-5 text-gray-200 animate-spin dark:text-gray-600 fill-purple-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                            </svg>
                            <span class="sr-only">Loading...</span>
                        </div>
                        {{ textButton }}
                    </button>
                </div>

            </div>
        </div>
    </div>
    <div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
</div>
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8 ">
    <div class="flex justify-end items-center mb-4">
        <button type="button" (click)="newUser()"
            class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 shadow-lg shadow-teal-500/50 dark:shadow-lg dark:shadow-teal-800/80 font-medium rounded-md text-sm px-5 py-2 text-center mr-2 mb-2 uppercase">
            Crear Nuevo
        </button>
    </div>

    <div class="">
        <div class="bg-white rounded shadow-lg">
            <div *ngIf="users.length<=0" class="p-6">
                <p class="font-bold text-center text-2xl text-gray-500">
                    No se encontro ningun registro
                </p>
            </div>
            <div *ngIf="users.length>0" class="overflow-x-auto">
                <table class="min-w-max w-full table-auto">
                    <thead class="bg-slate-200 text-gray-600 ">
                        <tr class="uppercase text-sm leading-normal">
                            <th class="py-3 px-6 text-left">Nombres</th>
                            <th class="py-3 px-6 text-left">Apellidos</th>
                            <th class="py-3 px-6 text-left">Correo</th>
                            <th class="py-3 px-6 text-left">Genero</th>
                            <th class="py-3 px-6 text-left">edad</th>
                            <th class="py-3 px-6 text-center">Ations</th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-600 text-sm font-light overflow-y-auto">
                        <tr *ngFor="let user of users" class="border-b border-gray-200 hover:bg-gray-100 font-medium">
                            <td class="py-3 px-6 text-left whitespace-nowrap">
                                <div class="flex items-center">
                                    <span class="">{{ user.name }}</span>
                                </div>
                            </td>
                            <td class="py-3 px-6 text-left">
                                {{ user.lastname }}
                            </td>
                            <td class="py-3 px-6 text-left">
                                {{ user.email }}
                            </td>
                            
                            <td class="py-3 px-6 text-left">

                                <span  class=" {{ user.gender == '0' ? 'bg-blue-200':'bg-purple-200' }} py-1 px-3 rounded-full text-xs">
                                    {{ user.gender == '0' ? 'Masculino':'Femenino' }}
                                </span>
                            </td>
                            <td class="py-3 px-6 text-left">
                                {{ user.age }}
                            </td>
                            <td class="py-3 px-6 text-right">
                                <div class="flex item-center justify-center space-x-2">
                                    <button type="button" (click)="editUser(user.id)">
                                        <i
                                            class="fa-solid fa-pen-to-square text-lg text-teal-600 hover:text-teal-700"></i>
                                    </button>
                                    <button type="button" (click)="deleteUser(user.id)">
                                        <i class="fa-solid fa-trash-can text-lg text-rose-600 hover:text-rose-700"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>